html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: radial-gradient(#270202, #000000);
}

.container {
  width: 100%;
  height: 100%;
}

.circle-container {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#fa9537, #fa9537 10%, hsla(180, 100%, 80%, 0) 56%);
  animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
.circle-container:nth-child(1) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-1;
  animation-duration: 7648ms;
  animation-delay: 10590ms;
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(78vw, 108vh, 0);
  }
  to {
    transform: translate3d(19vw, -124vh, 0);
  }
}
.circle-container:nth-child(1) .circle {
  animation-delay: 400ms;
}
.circle-container:nth-child(2) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-2;
  animation-duration: 9291ms;
  animation-delay: 5722ms;
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(37vw, 103vh, 0);
  }
  to {
    transform: translate3d(43vw, -115vh, 0);
  }
}
.circle-container:nth-child(2) .circle {
  animation-delay: 2509ms;
}
.circle-container:nth-child(3) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-3;
  animation-duration: 8651ms;
  animation-delay: 8206ms;
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(32vw, 108vh, 0);
  }
  to {
    transform: translate3d(37vw, -129vh, 0);
  }
}
.circle-container:nth-child(3) .circle {
  animation-delay: 3503ms;
}
.circle-container:nth-child(4) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-4;
  animation-duration: 9268ms;
  animation-delay: 9374ms;
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(89vw, 102vh, 0);
  }
  to {
    transform: translate3d(45vw, -132vh, 0);
  }
}
.circle-container:nth-child(4) .circle {
  animation-delay: 197ms;
}
.circle-container:nth-child(5) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-5;
  animation-duration: 8564ms;
  animation-delay: 2473ms;
}
@keyframes move-frames-5 {
  from {
    transform: translate3d(41vw, 109vh, 0);
  }
  to {
    transform: translate3d(11vw, -130vh, 0);
  }
}
.circle-container:nth-child(5) .circle {
  animation-delay: 2926ms;
}
.circle-container:nth-child(6) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-6;
  animation-duration: 8163ms;
  animation-delay: 6151ms;
}
@keyframes move-frames-6 {
  from {
    transform: translate3d(9vw, 106vh, 0);
  }
  to {
    transform: translate3d(66vw, -119vh, 0);
  }
}
.circle-container:nth-child(6) .circle {
  animation-delay: 1316ms;
}
.circle-container:nth-child(7) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-7;
  animation-duration: 7100ms;
  animation-delay: 1610ms;
}
@keyframes move-frames-7 {
  from {
    transform: translate3d(24vw, 101vh, 0);
  }
  to {
    transform: translate3d(38vw, -114vh, 0);
  }
}
.circle-container:nth-child(7) .circle {
  animation-delay: 3313ms;
}
.circle-container:nth-child(8) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-8;
  animation-duration: 9689ms;
  animation-delay: 2476ms;
}
@keyframes move-frames-8 {
  from {
    transform: translate3d(43vw, 106vh, 0);
  }
  to {
    transform: translate3d(49vw, -126vh, 0);
  }
}
.circle-container:nth-child(8) .circle {
  animation-delay: 2124ms;
}
.circle-container:nth-child(9) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-9;
  animation-duration: 10744ms;
  animation-delay: 4165ms;
}
@keyframes move-frames-9 {
  from {
    transform: translate3d(86vw, 102vh, 0);
  }
  to {
    transform: translate3d(75vw, -130vh, 0);
  }
}
.circle-container:nth-child(9) .circle {
  animation-delay: 1841ms;
}
.circle-container:nth-child(10) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-10;
  animation-duration: 9692ms;
  animation-delay: 2187ms;
}
@keyframes move-frames-10 {
  from {
    transform: translate3d(25vw, 106vh, 0);
  }
  to {
    transform: translate3d(15vw, -116vh, 0);
  }
}
.circle-container:nth-child(10) .circle {
  animation-delay: 2766ms;
}
.circle-container:nth-child(11) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-11;
  animation-duration: 8584ms;
  animation-delay: 10918ms;
}
@keyframes move-frames-11 {
  from {
    transform: translate3d(47vw, 106vh, 0);
  }
  to {
    transform: translate3d(89vw, -123vh, 0);
  }
}
.circle-container:nth-child(11) .circle {
  animation-delay: 3391ms;
}
.circle-container:nth-child(12) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-12;
  animation-duration: 9869ms;
  animation-delay: 1465ms;
}
@keyframes move-frames-12 {
  from {
    transform: translate3d(74vw, 107vh, 0);
  }
  to {
    transform: translate3d(95vw, -131vh, 0);
  }
}
.circle-container:nth-child(12) .circle {
  animation-delay: 1958ms;
}
.circle-container:nth-child(13) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-13;
  animation-duration: 9400ms;
  animation-delay: 7199ms;
}
@keyframes move-frames-13 {
  from {
    transform: translate3d(90vw, 103vh, 0);
  }
  to {
    transform: translate3d(82vw, -108vh, 0);
  }
}
.circle-container:nth-child(13) .circle {
  animation-delay: 784ms;
}
.circle-container:nth-child(14) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-14;
  animation-duration: 9055ms;
  animation-delay: 441ms;
}
@keyframes move-frames-14 {
  from {
    transform: translate3d(22vw, 101vh, 0);
  }
  to {
    transform: translate3d(1vw, -109vh, 0);
  }
}
.circle-container:nth-child(14) .circle {
  animation-delay: 2726ms;
}
.circle-container:nth-child(15) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-15;
  animation-duration: 7155ms;
  animation-delay: 9566ms;
}
@keyframes move-frames-15 {
  from {
    transform: translate3d(79vw, 101vh, 0);
  }
  to {
    transform: translate3d(70vw, -121vh, 0);
  }
}
.circle-container:nth-child(15) .circle {
  animation-delay: 2612ms;
}
.circle-container:nth-child(16) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-16;
  animation-duration: 9144ms;
  animation-delay: 272ms;
}
@keyframes move-frames-16 {
  from {
    transform: translate3d(7vw, 110vh, 0);
  }
  to {
    transform: translate3d(65vw, -136vh, 0);
  }
}
.circle-container:nth-child(16) .circle {
  animation-delay: 1597ms;
}
.circle-container:nth-child(17) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-17;
  animation-duration: 8648ms;
  animation-delay: 10697ms;
}
@keyframes move-frames-17 {
  from {
    transform: translate3d(19vw, 109vh, 0);
  }
  to {
    transform: translate3d(28vw, -120vh, 0);
  }
}
.circle-container:nth-child(17) .circle {
  animation-delay: 414ms;
}
.circle-container:nth-child(18) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-18;
  animation-duration: 7370ms;
  animation-delay: 10958ms;
}
@keyframes move-frames-18 {
  from {
    transform: translate3d(23vw, 109vh, 0);
  }
  to {
    transform: translate3d(23vw, -118vh, 0);
  }
}
.circle-container:nth-child(18) .circle {
  animation-delay: 670ms;
}
.circle-container:nth-child(19) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-19;
  animation-duration: 8291ms;
  animation-delay: 9957ms;
}
@keyframes move-frames-19 {
  from {
    transform: translate3d(67vw, 103vh, 0);
  }
  to {
    transform: translate3d(22vw, -121vh, 0);
  }
}
.circle-container:nth-child(19) .circle {
  animation-delay: 2677ms;
}
.circle-container:nth-child(20) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-20;
  animation-duration: 9727ms;
  animation-delay: 10433ms;
}
@keyframes move-frames-20 {
  from {
    transform: translate3d(92vw, 103vh, 0);
  }
  to {
    transform: translate3d(55vw, -104vh, 0);
  }
}
.circle-container:nth-child(20) .circle {
  animation-delay: 3896ms;
}
.circle-container:nth-child(21) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-21;
  animation-duration: 7246ms;
  animation-delay: 261ms;
}
@keyframes move-frames-21 {
  from {
    transform: translate3d(32vw, 103vh, 0);
  }
  to {
    transform: translate3d(43vw, -128vh, 0);
  }
}
.circle-container:nth-child(21) .circle {
  animation-delay: 1344ms;
}
.circle-container:nth-child(22) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-22;
  animation-duration: 9481ms;
  animation-delay: 7860ms;
}
@keyframes move-frames-22 {
  from {
    transform: translate3d(41vw, 101vh, 0);
  }
  to {
    transform: translate3d(31vw, -123vh, 0);
  }
}
.circle-container:nth-child(22) .circle {
  animation-delay: 107ms;
}
.circle-container:nth-child(23) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-23;
  animation-duration: 9031ms;
  animation-delay: 2144ms;
}
@keyframes move-frames-23 {
  from {
    transform: translate3d(50vw, 102vh, 0);
  }
  to {
    transform: translate3d(22vw, -113vh, 0);
  }
}
.circle-container:nth-child(23) .circle {
  animation-delay: 1002ms;
}
.circle-container:nth-child(24) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-24;
  animation-duration: 7319ms;
  animation-delay: 7792ms;
}
@keyframes move-frames-24 {
  from {
    transform: translate3d(14vw, 101vh, 0);
  }
  to {
    transform: translate3d(38vw, -107vh, 0);
  }
}
.circle-container:nth-child(24) .circle {
  animation-delay: 1183ms;
}
.circle-container:nth-child(25) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-25;
  animation-duration: 8975ms;
  animation-delay: 9047ms;
}
@keyframes move-frames-25 {
  from {
    transform: translate3d(4vw, 108vh, 0);
  }
  to {
    transform: translate3d(10vw, -109vh, 0);
  }
}
.circle-container:nth-child(25) .circle {
  animation-delay: 3329ms;
}
.circle-container:nth-child(26) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-26;
  animation-duration: 9494ms;
  animation-delay: 7835ms;
}
@keyframes move-frames-26 {
  from {
    transform: translate3d(42vw, 107vh, 0);
  }
  to {
    transform: translate3d(32vw, -116vh, 0);
  }
}
.circle-container:nth-child(26) .circle {
  animation-delay: 3498ms;
}
.circle-container:nth-child(27) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-27;
  animation-duration: 10585ms;
  animation-delay: 5034ms;
}
@keyframes move-frames-27 {
  from {
    transform: translate3d(96vw, 106vh, 0);
  }
  to {
    transform: translate3d(71vw, -125vh, 0);
  }
}
.circle-container:nth-child(27) .circle {
  animation-delay: 322ms;
}
.circle-container:nth-child(28) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-28;
  animation-duration: 8447ms;
  animation-delay: 87ms;
}
@keyframes move-frames-28 {
  from {
    transform: translate3d(84vw, 105vh, 0);
  }
  to {
    transform: translate3d(20vw, -133vh, 0);
  }
}
.circle-container:nth-child(28) .circle {
  animation-delay: 1229ms;
}
.circle-container:nth-child(29) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-29;
  animation-duration: 10954ms;
  animation-delay: 2150ms;
}
@keyframes move-frames-29 {
  from {
    transform: translate3d(82vw, 109vh, 0);
  }
  to {
    transform: translate3d(71vw, -120vh, 0);
  }
}
.circle-container:nth-child(29) .circle {
  animation-delay: 2900ms;
}
.circle-container:nth-child(30) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-30;
  animation-duration: 9187ms;
  animation-delay: 7597ms;
}
@keyframes move-frames-30 {
  from {
    transform: translate3d(62vw, 103vh, 0);
  }
  to {
    transform: translate3d(42vw, -111vh, 0);
  }
}
.circle-container:nth-child(30) .circle {
  animation-delay: 2360ms;
}
.circle-container:nth-child(31) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-31;
  animation-duration: 7600ms;
  animation-delay: 5027ms;
}
@keyframes move-frames-31 {
  from {
    transform: translate3d(9vw, 101vh, 0);
  }
  to {
    transform: translate3d(98vw, -131vh, 0);
  }
}
.circle-container:nth-child(31) .circle {
  animation-delay: 1562ms;
}
.circle-container:nth-child(32) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-32;
  animation-duration: 9621ms;
  animation-delay: 1154ms;
}
@keyframes move-frames-32 {
  from {
    transform: translate3d(45vw, 101vh, 0);
  }
  to {
    transform: translate3d(51vw, -118vh, 0);
  }
}
.circle-container:nth-child(32) .circle {
  animation-delay: 1620ms;
}
.circle-container:nth-child(33) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-33;
  animation-duration: 9655ms;
  animation-delay: 43ms;
}
@keyframes move-frames-33 {
  from {
    transform: translate3d(95vw, 101vh, 0);
  }
  to {
    transform: translate3d(55vw, -106vh, 0);
  }
}
.circle-container:nth-child(33) .circle {
  animation-delay: 1094ms;
}
.circle-container:nth-child(34) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-34;
  animation-duration: 10875ms;
  animation-delay: 1745ms;
}
@keyframes move-frames-34 {
  from {
    transform: translate3d(26vw, 108vh, 0);
  }
  to {
    transform: translate3d(55vw, -132vh, 0);
  }
}
.circle-container:nth-child(34) .circle {
  animation-delay: 1032ms;
}
.circle-container:nth-child(35) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-35;
  animation-duration: 8950ms;
  animation-delay: 2745ms;
}
@keyframes move-frames-35 {
  from {
    transform: translate3d(98vw, 107vh, 0);
  }
  to {
    transform: translate3d(82vw, -131vh, 0);
  }
}
.circle-container:nth-child(35) .circle {
  animation-delay: 3388ms;
}
.circle-container:nth-child(36) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-36;
  animation-duration: 8537ms;
  animation-delay: 8872ms;
}
@keyframes move-frames-36 {
  from {
    transform: translate3d(43vw, 106vh, 0);
  }
  to {
    transform: translate3d(56vw, -109vh, 0);
  }
}
.circle-container:nth-child(36) .circle {
  animation-delay: 1926ms;
}
.circle-container:nth-child(37) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-37;
  animation-duration: 8376ms;
  animation-delay: 6284ms;
}
@keyframes move-frames-37 {
  from {
    transform: translate3d(11vw, 106vh, 0);
  }
  to {
    transform: translate3d(14vw, -119vh, 0);
  }
}
.circle-container:nth-child(37) .circle {
  animation-delay: 2405ms;
}
.circle-container:nth-child(38) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-38;
  animation-duration: 7164ms;
  animation-delay: 9843ms;
}
@keyframes move-frames-38 {
  from {
    transform: translate3d(67vw, 107vh, 0);
  }
  to {
    transform: translate3d(71vw, -134vh, 0);
  }
}
.circle-container:nth-child(38) .circle {
  animation-delay: 309ms;
}
.circle-container:nth-child(39) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-39;
  animation-duration: 10170ms;
  animation-delay: 1190ms;
}
@keyframes move-frames-39 {
  from {
    transform: translate3d(31vw, 103vh, 0);
  }
  to {
    transform: translate3d(6vw, -121vh, 0);
  }
}
.circle-container:nth-child(39) .circle {
  animation-delay: 2930ms;
}
.circle-container:nth-child(40) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-40;
  animation-duration: 7063ms;
  animation-delay: 2297ms;
}
@keyframes move-frames-40 {
  from {
    transform: translate3d(9vw, 106vh, 0);
  }
  to {
    transform: translate3d(68vw, -129vh, 0);
  }
}
.circle-container:nth-child(40) .circle {
  animation-delay: 1423ms;
}
.circle-container:nth-child(41) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-41;
  animation-duration: 9439ms;
  animation-delay: 9860ms;
}
@keyframes move-frames-41 {
  from {
    transform: translate3d(72vw, 107vh, 0);
  }
  to {
    transform: translate3d(82vw, -130vh, 0);
  }
}
.circle-container:nth-child(41) .circle {
  animation-delay: 3057ms;
}
.circle-container:nth-child(42) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-42;
  animation-duration: 7674ms;
  animation-delay: 7978ms;
}
@keyframes move-frames-42 {
  from {
    transform: translate3d(50vw, 105vh, 0);
  }
  to {
    transform: translate3d(41vw, -111vh, 0);
  }
}
.circle-container:nth-child(42) .circle {
  animation-delay: 722ms;
}
.circle-container:nth-child(43) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-43;
  animation-duration: 10031ms;
  animation-delay: 6489ms;
}
@keyframes move-frames-43 {
  from {
    transform: translate3d(83vw, 103vh, 0);
  }
  to {
    transform: translate3d(34vw, -110vh, 0);
  }
}
.circle-container:nth-child(43) .circle {
  animation-delay: 592ms;
}
.circle-container:nth-child(44) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-44;
  animation-duration: 8966ms;
  animation-delay: 454ms;
}
@keyframes move-frames-44 {
  from {
    transform: translate3d(12vw, 108vh, 0);
  }
  to {
    transform: translate3d(100vw, -123vh, 0);
  }
}
.circle-container:nth-child(44) .circle {
  animation-delay: 2869ms;
}
.circle-container:nth-child(45) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-45;
  animation-duration: 7748ms;
  animation-delay: 2119ms;
}
@keyframes move-frames-45 {
  from {
    transform: translate3d(64vw, 102vh, 0);
  }
  to {
    transform: translate3d(39vw, -123vh, 0);
  }
}
.circle-container:nth-child(45) .circle {
  animation-delay: 3239ms;
}
.circle-container:nth-child(46) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-46;
  animation-duration: 10693ms;
  animation-delay: 4315ms;
}
@keyframes move-frames-46 {
  from {
    transform: translate3d(53vw, 108vh, 0);
  }
  to {
    transform: translate3d(15vw, -113vh, 0);
  }
}
.circle-container:nth-child(46) .circle {
  animation-delay: 1409ms;
}
.circle-container:nth-child(47) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-47;
  animation-duration: 8234ms;
  animation-delay: 4733ms;
}
@keyframes move-frames-47 {
  from {
    transform: translate3d(94vw, 109vh, 0);
  }
  to {
    transform: translate3d(9vw, -126vh, 0);
  }
}
.circle-container:nth-child(47) .circle {
  animation-delay: 3768ms;
}
.circle-container:nth-child(48) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-48;
  animation-duration: 7859ms;
  animation-delay: 10533ms;
}
@keyframes move-frames-48 {
  from {
    transform: translate3d(68vw, 102vh, 0);
  }
  to {
    transform: translate3d(12vw, -132vh, 0);
  }
}
.circle-container:nth-child(48) .circle {
  animation-delay: 2611ms;
}
.circle-container:nth-child(49) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-49;
  animation-duration: 10627ms;
  animation-delay: 10859ms;
}
@keyframes move-frames-49 {
  from {
    transform: translate3d(49vw, 109vh, 0);
  }
  to {
    transform: translate3d(3vw, -124vh, 0);
  }
}
.circle-container:nth-child(49) .circle {
  animation-delay: 574ms;
}
.circle-container:nth-child(50) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-50;
  animation-duration: 9073ms;
  animation-delay: 9066ms;
}
@keyframes move-frames-50 {
  from {
    transform: translate3d(5vw, 108vh, 0);
  }
  to {
    transform: translate3d(11vw, -128vh, 0);
  }
}
.circle-container:nth-child(50) .circle {
  animation-delay: 3418ms;
}/*# sourceMappingURL=background.css.map */